/*=============== GOOGLE FONTS ===============*/
  @import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
/*=============== VARIABLES CSS ===============*/

 
:root{
  /*========== Font and typography ==========*/
  /* .5rem = 8px | 1rem = 16px ... */
  --body-font: sans-serif;
  /* --body-font: 'Mukta', sans-serif; */
  --second-font:  sans-serif;
  --big-font-size: 3.5rem;
  --h1-font-size: 2.75rem ;
  --h2-font-size: 2rem;
  --h3-font-size: 1.75;
  --h4-font-size: 1.375rem;
  --large-font-size: 1.225rem;
  --normal-font-size: 1.1rem;
  --small-font-size: 1.1rem ;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.6875rem;

  /*========== Font weight ==========*/
  --weight-400: ;
  --weight-500: ;
  --weight-600: ;
  --weight-700: ;

  /*========== Transition ==========*/
  --transition: cubic-bezier(0, 0, 0.05, 1) ;
}

/* Responsive typography */
@media screen and (max-width: 1200px) {
  :root {
    --big-font-size: 2.25rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 1.125rem;
    --large-font-size: 1rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.8rem;
    --smaller-font-size:0.6rem ;
    --tiny-font-size: 0.625rem;
  }
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 8rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar
{
  width: .8rem;
  background-color: var(--body-color);
}
html::-webkit-scrollbar-track
{
  background: transparent;
}
html::-webkit-scrollbar-thumb
{
  background-color: var(--text-color); 
  border-radius: 5rem;
} 

/* ===== Colours ===== */
:root{
  --body-color: #fff;
  --nav-color:#ffffff;
  --side-nav: #fff;
  --search-bar: #F2F2F2;
  --search-text: #010718;
  --main-color:#d3ad7f;
  --btn: #d3ad7f;
  --black:#13131a;
  --first-color: #d3ad7f;
  --first-color-alt:  hsl(129,44%, 94%);
  --second-color: hsl(34, 94%, 87%) ;
  --title-color:  hsl(0,0%, 13%);
  --text-color:  #010103;
  --text-color-light:  hsl(60, 1%, 56%) ;
  --container-color: hsl(176, 0%, 93%) ;
  --border-color: rgba(94, 92, 92, 0.3);
  --border-color-alt: hsl(113,15%, 90%) ;
  --nav-text:#010103;
   /*========Fonts==========*/
   --body-font: 'Lato', sans-sarif;
   --second-font: 'Spartan', sans-sarif;
}
body{
  height: 100vh;
  background-color: var(--body-color);
  font-family: 'Lato', sans-sarif;
}
body.dark{
  --body-color: #010103;
  --nav-color:#010103;
  --side-nav: #13131a; 
  --search-bar: #242526;
  --main-color:#d3ad7f;
  --black:#13131a;
  --bg:#010103;
  --btn: #d3ad7f;
  --first-color: #d3ad7f;
  --first-color-alt:  hsl(129,44%, 94%);
  --second-color: hsl(34, 94%, 87%) ;
  --title-color:  hsl(0,0%, 13%);
  --text-color:  #fff;
  --text-color-light:  hsl(60, 1%, 56%) ;
  --container-color: hsl(176, 0%, 93%) ;
  --border-color:  rgba(255,255,255,.3);
  --border-color-alt: hsl(113,15%, 90%) ;
--nav-text:#fff;
  /*========Fonts==========*/
  --body-font: 'Lato', sans-sarif;
--second-font: 'Spartan', sans-sarif;
}
/*=============== HEADER & NAV ===============*/

a{
  text-decoration: none;
}
#logo {
  display: none; /* Display the dark logo when in dark mode */
}

 /*dropdown*/
 .dropdown { 
  position: relative;
  left: 95px;
  display: inline-block;
 }
.dropdown-toggle {
  border: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: var(--nav-color);
}

.dropdown-profile {
  width: 36px;
  height: 36px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-picture {
  width: 100%;
  height: inherit;
}

.dropdown-icon {
  font-size: 13px;
  transform: translateY(-1px);
  color: var(--nav-text);

}

.dropdown-menu {
  position: absolute;
  top: 100%;
  width: 90px;
  background-color: var(--body-color);  
  padding: 10px;
  display: none;
  z-index: 1;
  color: var(--nav-text);
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  border-bottom: 1px solid var(--btn);
  cursor: pointer;
  padding: 9px 0;
  font-size: 15px; 
  transition: 0.3s;
}

.dropdown-item:hover {
  color: var(--body-color);
  background-color: var(--nav-text);
}

/*dropdown*/
nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 10000;
  transition: 0.6s;
}
body.dark nav{
  border-bottom: 1px solid var(--grid);  
}
body nav{
  border-bottom: 1px solid #969696;
}
nav .nav-bar
{
  position: relative;
  height: 100%;
  max-width: 1000px;
  width: 100%;
  background-color: var(--nav-color);
  display: flex;
  align-items: center;
  
  margin: 0px auto;
}
nav .nav-bar .sidebarOpen
{
  color: var(--body-color);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
  
}

.logo img
{
  height: 6rem;
  position: relative;
  right: 95px;
}
.d-flex
{
  display: flex;
}
.menu .logo-toggle
{
  display: none;
}
.nav-bar .nav-links
{
  display: flex;
  align-items: center;
}
.nav-bar .nav-links li
{
  margin: 0 5px;
  list-style: none;
}
.nav-links li a
{
  position: relative;
  font-size: 17px;
  font-weight: 500;
  color:var(--nav-text);
  text-decoration: none;
  padding: 10px ;
  transition: 0.6s;
}
select#language {
  padding: .7rem 1rem;
  border: 1px solid var(--main-color);
  margin: 0px 20px;
  font-size:  1.7rem;
  background:var(--btn);
  color: var(--text-color);
   cursor: pointer;
  font-weight: bold;
  margin: 10px;
 
}

.nav-links li a:hover 
{
  color: var(--main-color);
  border-bottom: .3rem solid var(--main-color);
  padding-bottom: .5rem;
}
.nav-bar .darkLight-searchBox
{
  display: flex;
  align-items: center;
}
.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle
{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}
.dark-light i,
.searchToggle i
{
  position: absolute;
  color:var(--text-color);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.dark-light i.sun
{
  opacity: 0;
  pointer-events: none;
}
.dark-light.active i.sun
{
  opacity: 1;
  pointer-events: auto;
}
.dark-light.active i.moon
{
  opacity: 0;
  pointer-events: none;
}
.searchToggle i.cancel
{
  opacity: 0;
  pointer-events: none;
}
.searchToggle.active i.cancel
{
  opacity: 1;
  pointer-events: auto;
}
.searchToggle.active i.search
{
  opacity: 0;
  pointer-events: none;
}
.searchBox
{
  position: relative;
}
.searchBox .search-field
{
  position: absolute;
  bottom: -85px;
  right: 5px;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: var(--nav-color);
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.searchToggle.active ~ .search-field
{
  bottom: -74px;
  opacity: 1;
  pointer-events: auto;
}
.search-field::before
{
  content: '';
  position: absolute;
  right: 14px;
  top: -4px;
  height: 12px;
  width: 12px;
  background-color: var(--nav-color);
  transform: rotate(-45deg);
  z-index: -1;
}
.search-field input
{
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: var(--search-text);
  background-color: var(--search-bar);
}
body.dark .search-field input
{
  color: var(--text-color);
}
.search-field i
{
  position: absolute;
  color:#fff;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}
body.dark .search-field i
{
  color: #fff;

}
@media (max-width: 790px)
{
  nav .nav-bar .sidebarOpen
  {
      display: block;
  }
  .menu
  {
      position: fixed;
      height: 100%;
      width: 320px;
      left: -100%;
      top: 0;
      padding: 20px;
      background-color: var(--side-nav);
      z-index: 100;
      transition: all 0.4s ease;
  }
  nav.active .menu
  {
      left: -0%;
  }
  nav.active .nav-bar .navLogo a
  {
      opacity: 0;
      transition: all 0.3s ease;
  }
  .menu .logo-toggle
  {
      display: block;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .logo-toggle .siderbarClose
  {
      color: var(--text-color);
      font-size: 24px;
      cursor: pointer;
  }
  .nav-bar .nav-links
  {
      flex-direction: column;
      padding-top: 30px;
  }
  .nav-links li a
  {
      display: block;
  margin-top: 20px;
  }
}  
@media (max-width:991px) {
 html {
     font-size:55%; 
 }
  .header
  {
      padding: 1.5rem 2rem;
  }
  section
  {
     padding: 4rem;
  }
   
}
@media (max-width:768px) {
 .home2
 {
  background-position: left;
  justify-content: center;
  text-align: center;
 }
 .home2 .content h3
 {
   font-size: 4rem;
 }
 .home2 .content p
 {
   font-size: 1.5rem;
 }
  
}
@media (max-width:450px) {
  html {
      font-size:50%; 
  }
}
/*=============== BASE ===============*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
input, textarea,
body{
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-400);
}
body
{
  background-color: var(--body-color);
}
h1, h2, h3, h4 
{
  font-family: var(--second-font);
  color: var(--nav-text);
  font-weight: var(--weight-600);
}
ul 
{
  list-style: none;
}
a{
  text-decoration: none;
}
p
{
  line-height: 1.5rem;
}
img
{
  max-width: 100%;

}
button, textarea, input
{
  background-color: transparent;
  border: none;
  outline: none;

}
/*=============== REUSABLE CSS CLASSES ===============*/
 
.section
{
  padding-block: 2rem;
}
.grid
{
  display: grid;
  gap: 1.5rem;
}
.flex
{
  display: flex;
  align-items: center;
  column-gap: .5rem;
}
.section--lg
{
  padding-block: 4rem;
}
.section__title
{
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
  font-weight:var(--weight-700) ;
  
}
.section__title span
{
  color: var(--first-color);
}


/* Active link */

/*=============== HOME ===============*/
.home2
 {
    min-height: 85vh;
    display: flex;
    align-items: center;
    background:linear-gradient(rgb(60 60 60 / 40%), rgb(60 60 60 / 30%)),url(images/product.jpg) no-repeat;
    background-size:cover;
    background-position:center;
 }
.home2 .content
 {
   position: absolute;
    max-width: 87rem;  
       top: 25%;
       padding: 4rem 7%;
 }
 .home2 .content h3
 {
    font-size: 4rem;
    text-transform: uppercase;
    color: #fff;
    padding:.5rem .3rem;
    font-weight: 600;
 }
 .home2 .content p{
   font-size: 1.8rem;
     font-weight: 400;
    color: #fff;
    line-height: 1.8;
    padding: 1rem 0;
 }

/*=============== BUTTONS ===============*/
 
.btn-md
{
  font-family: var(--body-font);
  height: 45px;
  line-height: 42px;
}
.btn
{
   display: inline-block;
   padding: .7rem 2rem;
   border: 1px solid var(--btn);
   font-size:  1.7rem;
   background: var(--btn);
   border-radius: .25rem;
   color: #fff;
   cursor: pointer; 
   font-weight: 600;
   transition: all 0.4s var(--transition);
}
.btn:hover 
{
  letter-spacing: .2rem;
  background-color: var(--btn);
  
}
/*=============== CATEGORIES ===============*/
.catagories
{
  overflow: hidden;
}
.category__item 
{
  text-align: center;
  border: 1px solid var(--border-color);
  padding: 0.625rem 0.625rem 1.25rem;
  border-radius: 1.25rem;
}
.category__img  
{
  border-radius: 0.75rem;
  margin-bottom: 1.25rem;
}
.catagory__title{
  color: var(--nav-text);
  font-size: var(--h3-font-size);
}

/* Swiper class */
.swiper
{
  overflow: initial;
}
.swiper-button-next::after,
.swiper-button-prev::after
{
  content: '';

}
.swiper-button-next,
.swiper-button-prev
{
  top: -1.875rem;
  background-color: var(--first-color-alt);
  border: 1px solid var(--border-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: var(--first-color);
  font-size: var(--tiny-font-size);

}
.swiper-button-prev
{
  left: initial;
  right: 2.5rem;
  
}
.swiper-button-next
{
  right: 0;
}
/*=============== PRODUCTS ===============*/
.tab-btns
{
  display: flex;
  flex-wrap: wrap;
   gap: 0.75rem;
  margin-bottom: 2rem;
}
.tab-btn 
{
  background-color: var(--container-color);
  color: var(--title-color);
  padding: 1.25rem 1.25rem 0.875rem;
  border-radius: .25rem;
  font-family: var(--second-font);
  font-size: var(--h2-font-size);
  font-weight: var(--weight-600);
  cursor: pointer;
}
.products-container
{
  grid-template-columns: repeat(4, 1fr);
}

.product-item
{
  border: 1px solid var(--border-color);
  border-radius: 1.5rem;
  transition: all .2s var(--transition);
}
.product-images
{
  display: block;
  overflow: hidden;
  border-radius: 1.2rem;
}
.product-item:hover .product-img{
transform: scale(1.1);
}
.product-img
{
vertical-align: middle;
transition: all 1.5s var(--transition);
}
.product-banner
{
  padding: .625rem .75rem .75rem;
}
.product-images, .product-banner
{
  position: relative;
}
.product-img.hover
{
  position: absolute;
  top: 0;
  left: 0;
}
.product-action
{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
column-gap: 0.5rem;
transition: all.2s var(--transition);
}
.action-btn
{
  width: 40px;
  height: 40px;
  background-color: var(--first-color-alt);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  font-size: var(--large-font-size);
  line-height: 42px;
  text-align: center;
  border-radius: 50%;
  position: relative;
}
.action-btn::before,
.action-btn::after
{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all .3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}
.action-btn::before
{
  content: '';
  top: -2px;
  border: .5rem solid transparent;
  border-top: var(--first-color);
}
.action-btn::after
{
content: attr(aria-label);
bottom: 100%;
background-color: var(--first-color);
color: var(--body-color);
font-size: var(--smalk-font-size);
white-space: nowrap;
padding-inline: .65rem ;
border-radius: .24rem;
line-height: 2.58;
}
.product-badge
{
  position: absolute;
  left: 1.25rem;
  top: 1.25rem;
  background-color: var(--first-color);
  color: var(--body-color);
  padding: .25rem .625rem;
  border-radius: 2.5rem;
  font-size: var(--tiny-font-size);
}
.product-badge.light-pink
{
  background-color: hsl(341, 100%, 73%);
}
.product-badge.light-orange
{
  background-color: hsl(24, 100%, 73%);
}
.product-badge.light-green
{
  background-color: hsl(155, 20%, 67%);
}
.product-badge.light-blue
{
  background-color: hsl(202, 53%, 76%);
}
.product-content
{
  padding: 0 1.25rem 1.25rem;
}
.product-catagory
{
  color: var(--text-color-light);
  font-size: var(--large-font-size);
}
.product-title
{
  font-size: var(--h2-font-size);
  margin-block: .75rem .5rem ;
}

/* Active Tab */
.tab-btn.active-tab
{
  cursor: pointer;
  color: #fff;
  background-color: var(--first-color);
}
.tab-item:not(.active-tab)
{
  display: none;
}

/* Product Hover */
.product-img.hover,
.product-action,
.action-btn::before,
.action-btn::after,
.product-item:hover .product-img.default
{
  opacity: 0;
}
.product-item:hover
{
  box-shadow: 0 0 10px hsla(0, 0%,0% ,0.1);
}
.product-item:hover .product-img.hover,
 .product-item:hover .product-action,
 .action-btn:hover::before,
 .action-btn:hover::after
{
  opacity: 1;
}
.action-btn:hover::before,
 .action-btn:hover::after
 {
  transform: translateX(-50%) translateY(-0.5rem);
 }
.action-btn:hover
{
  background-color: var(--first-color);
  border-color: var(--first-color);
  color: var(--body-color);
}
/*=============== DEALS ===============*/
.deals-container 
{
  grid-template-columns: repeat(2, 1fr);
}
.deals-item:nth-child(1) 
{
background-image: url(images/deals-1.jpg);
}
.deals-item:nth-child(2) 
{
background-image: url(images/deals-2.png);
}
.deals-item
{
  padding: 3rem;
  background-size: cover;
  background-position: center;
display: flex;
flex-direction: column;
row-gap: 1.5rem;
}
.deals-brand
{
color: var(--first-color);
font-size: var(--h1-font-size);
margin-bottom:.25rem;
}
.deals-catagory
{
  font-family: var(--second-font);
  font-size: var(--large-font-size);
}
.deals-title
{
  max-width: 240px;
  font-size: var(--h4-font-size);
  font-weight: var(--weight-400);
  line-height: 1.3;
}
.deals-countdown-text
{
 margin-bottom: 0.25rem;
}
.countdown
{
  display: flex;
  column-gap: 1.5rem;
}
.countdown-amount
{
  position: relative;
}
.countdown-amount::after
{
  content: ':';
  color: var(--title-color);
  font-size: var(--large-font-size);
  position: absolute;
  right: -25%;
  top: 20%;
}
.countdown-period
{
  background-color: var(--first-color);
  color: var(--body-color);
  width: 60px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: .25rem;
  font-size: var(--large-font-size);
  font-weight: var(--weight-600);
  margin-bottom:.5rem;
}
.unit{
  font-size: var(--small-font-size);
  text-align: center;
  display: block;
}
.deals-btn .btn
{
background-color: transparent;
color: var(--first-color);
}
/*=============== NEW ARRIVALS ===============*/
.new__arrivals
{
  overflow: hidden;
}
/*=============== SHOWCASE ===============*/
.showcase-container
{
  grid-template-columns: repeat(4, 1fr);
}
.showcase-wrapper .section-title
{
font-size: var(--h4-font-size);
border-bottom: 1px solid var(--border-color-alt) ;
padding-bottom: .75rem;
margin-bottom: 2rem;
position: relative;
}
.showcase-wrapper .section-title::before
{
  content: '';
  position: absolute;
  left: 0;
  bottom: -1.3px;
  width: 50px;
  height: 2px;
  background-color: var(--first-color);
}
.showcase-item
{
  display: flex;
  align-items: center;
  column-gap: 1.5rem;

}
.showcase-item:not(:last-child)
{
  margin-bottom: 1.5rem;
}
.showcase-img
{
  width: 85px;
}
.showcase-content
{
  width: calc(100% - 110px);
}
.showcase-title
{
  font-size: var(--h4-font-size);
  font-weight: var(--weight-500);
   
}
/*=============== NEWSLETTER ===============*/

/*=============== FOOTER ===============*/
/*---footer---*/ 
.container{
	max-width: 1170px;
	margin:auto;
    line-height: 1.5;
    box-sizing: border-box;
}
.footer-logo
{
    width: 100px;
    margin-bottom: 10px;
}
.footer-col p
{
font-family: 'Poppins',sans-serif;
 color: #bbbbbb; 
 font-size: 13px;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color:var(--black);
    padding: 30px 0;    
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color:var(--main-color);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: var(--main-color);
}
#social a i{
    position: relative;
    top: 10px;
    font-size: 20px;

}
.input-feild::placeholder {
    color: #fff; /* Replace with the desired color */
  }
/*footerresponsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
   text-align: center;
}
.footer-col p
{
    margin: 0 80px;
}
.footer-col h4::before
{
  left: 215px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
    text-align: center;
}
.footer-col p
{
    margin: 0 20px;
}
.footer-col h4::before
{
    left: 110px;
}
}
/*=============== BREADCRUMBS ===============*/
.breadcrumb
{
  background-color: var(--container-color);
  padding-block: 1.5rem;
   
}
.breadcrumb-list
{
  column-gap: .75rem;
}
.breadcrumb-link
{
  color: var(--text-color);
  font-size: var(--small-font-size);
  
}

/*=============== SHOP ===============*/
.total-products
{
  margin-bottom: 2.5rem;
}
.total-products span
{
  color: var(--first-color);
  font-weight: var(--weight-600);
}
.pagination 
{
  display: flex;
  column-gap: 0.625rem;
  margin-top: 2.75rem;

}
.pagination-link 
{
  display:inline-block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border-radius: .25rem;
  color: var(--text-color);
  font-size: var(--small-font-size);
  font-weight: var(--weight-700);
  transition: all 0.15s var(--transition);
}
.pagination-link.active,
.pagination-link:hover
{
background-color: var(--first-color);
color: var(--body-color);
}
.pagination-link.icon
{
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
 
/* For large devices */
@media screen and (max-width: 1400px) {
  .container{
    max-width: 1140px;
  }
  .products-container ,
  .showcase-container{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  .container{
    max-width: 960px;
  }
  .countdown{
    column-gap: 1rem;
  }
  .countdown-period
  {
    width: 38px;
    height: 36px;
    line-height: 36px;

  }
  .countdown-amount::after{
    right: -30%;
    top: 14%;
  }
.swiper-button-next,
.swiper-button-prev{
  top: -28px;
  width: 26px;
  height: 26px;
}
.swiper-button-prev
{
  right: 36px;
}
}

/* For medium devices */
@media screen and (max-width: 992px) {
.container
{
  max-width: 740px;
}
.products-container, 
.showcase-container,
.deals-container
{
  grid-template-columns: repeat(2, 1fr);
}
 
}

@media screen and (max-width: 768px) {
  .container
  {
    max-width: 540px;
  }
  .products-container,
  .showcase-container
  {
    grid-template-columns: 100%;
  }
}

/* For small devices */
@media screen and (max-width: 576px) {
  .category__item
  {
    padding-bottom: 1rem;
  }
  .category__img{
    margin-bottom:1rem ;
  }
  .deals-item{
    padding: 1.25rem;

  }
  .pagination-link
  {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

}

@media screen and (max-width: 350px) {
.action-btn
{
  width: 36px;
  height: 36px;
  line-height: 38px;
}
.showcase-item
{
  column-gap: 1rem;
}
.showcase-img
{
width: 70px;
}
.showcase-content{
  width: calc(100% - 86px);
}
.swiper-button-next,
.swiper-button-prev{
  display: none
}
}

 