
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Work+Sans:wght@400;500;600;700&display=swap');


*{
    padding: 0px;
    margin: 0px;
}
.container{
    max-width: 1280px;
    margin: 0px auto;
}
/*navbar start */

.navbar-a {
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    padding: 19px 0px;

}
.na-list{
    display: flex;
}
  /*navbar-2*/


.nav-b li a{
         
    text-decoration: none;
    color: white;
    padding: 10px 0px;
    margin: 0px 20.5px;
   width: 100%;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
}
.nav-b li:active{
                
    background-color: #f38723;

    
}
.nav-b  li{
    list-style: none;
    display: flex;
}
.nav-b{
    display: none;
}
/* navbar 2 end    */
.navbar-a img{
    max-width: 350px;
    
}
.navbar-a li{
    list-style: none;
}
.navbar-a a{
    text-decoration: none;
    color: white;
    padding: 13px 0px;
    margin: 0px 12.5px;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
   
}






.btn-nav{
    padding: 14px 30px;
    margin-right: 50px;
    align-items: center;

    border-radius: 45px;
    
    background-color: #26abe4;
    border-style: none;
    cursor: pointer;
}
.btn-nav:hover{
    background-color: #f38723;
}
.btn-navi i{
    font-size: 1.5rem;
}

.btn-nav span{
    
    font-family: "work sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: aliceblue;

}



/*navbar end*/


/*section-1 start*/
.sect-a{
    background-image: url(images/bg.png);
   
    margin-top: -100px ;
    padding: 145px 0px 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-color: #F8FCFF;
    
}

.heading{

    padding: 10px;
    margin-left: 15px;  
}
.center{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.center img{
 
  max-height: 350px;
  
}




.heading h1{
    font-family: "Work Sans", sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 70px;
    color: aliceblue;
    padding: 20px 0px;

}
.heading p{
    font-family: "open sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
   line-height: 38px;
    padding: 6px 0px;
   
  
   color: aliceblue;

}
.btn-sec-a{
    margin-top: 33px;
    padding: 4px 30px;
    border: none;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    border-radius: 25px;
   
    background-color:#f38723;
    color: white;
    
  
    background: linear-Gradient( to left,rgb(78, 45, 22) 50%,#f38723 50%);
   
    background-size:200% 100%;
    background-position: left bottom right bottom;

    transition: all .5s ease-in-out;
}

.btn-sec-a:hover{
    background-position: right bottom ;
   
}

.btn-sec-b{

    padding: 7px 37px;
    border: none;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
   
    margin-left: 15px;
    color: #F8FCFF;
    background-color: rgb(32, 147, 255);
    
}
/*section-2 end*/


/*3rd section styling */

.sec-c{
       
    display: flex;
    
    justify-content: center;
    padding: 10px ;

}
.vid-sec{
    
      display: flex;
      width: 50%;
     justify-content: end;
}



.se-c-th{
    padding: 100px 0px 0px 0px;
  
}
.loader-line {
    
    width: 65px;
    height: 6px;
    position: relative;
    overflow: hidden;
    margin: -13px 0px 0px 70px;
    background-color: #ddd8eb;
    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.loader-line:before {
    content: "";
    position: absolute;
    left: -50%;
    height: 6px;
    width: 40%;
    background-color: #ffffff;
    -webkit-animation: lineAnim 5s linear infinite;
    -moz-animation: lineAnim 5s linear infinite;
    animation: lineAnim 5s linear infinite;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

@keyframes lineAnim {
    0% {
        left: -40%;
    }
    50% {
        left: 20%;
        width: 20%;
    }
    100% {
        left: 100%;
        width: 20%;
    }
}



.sec-c h5 a{
    font-size: 14px;
    text-decoration: none;
    font-family: "Open sans", sans-serif;
    font-weight: 700;
    line-height: 24px;
    color: #f38723;
}
.sec-c h5 span{
    color: #222222;
}
.sec-c h5 span:hover{
  color: #26abe4;
}

.line-text{
    margin-top: -50px;
    font-size: 14px;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    line-height: 24px;
    color: #f38723;


}


.sec-c p{
    padding: 40px 0px;
    max-width: 483px;
    text-align: inherit;
    font-size: 15px;
    font-family: "open sans", sans-serif;
    font-weight: 400;
    line-height: 30px;

}

.ican-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 0px;
    

    

}

.boxes{
      
      
    
      height: 230px;
      width:100%;
    
      
      

 
}
#box-a{
        border-right: 1px dotted black;
}
#box-c{
    border-left: 1px dotted black;

}



#box-a i{
    
    display: flex;
    justify-content: center;
    color: #dfe3ee;
    margin: 8px 0px;
    font-size: 64px;
    overflow: hidden;
    
    
}
.boxes i{
    transition: transform ease .4s;
}

.boxes:hover i{
    
    transform: scale(0.5) rotate(360deg) ;
      
}



#box-a span{
    
    line-height: 80px;
    font-style: normal;
    font-size: 64px;
    font-weight: 500;
    font-family: "Work sans", sans-serif;
    display: flex;
    justify-content: center;
   
    
    margin: 0px 70px;
}
#box-a p{
   
    font-weight: 500;
    font-family: "Work sans", sans-serif;
    font-style: normal;
    line-height: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;

}

#box-b i{
    display: flex;
    justify-content: center;
    color: #dfe3ee;
    margin: 8px 71px;
    font-size: 64px;
    overflow: hidden;
    
}


#box-b span{
    
    line-height: 80px;
    font-style: normal;
    font-size: 64px;
    font-weight: 500;
    font-family: "Work sans", sans-serif;
    display: flex;
    justify-content: center;
   
    
    margin: 0px 70px;
}
#box-b p{
    font-size: 64px;
    font-weight: 500;
    font-family: "Work sans", sans-serif;
    font-style: normal;
    line-height: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

#box-c i{
    display: flex;
    justify-content: center;
    color: #dfe3ee;
    margin: 8px 71px;
    font-size: 64px;
    overflow: hidden;
    
}

#box-c span{
    
    line-height: 80px;
    font-style: normal;
    font-size: 64px;
    font-weight: 500;
    font-family: "Work sans", sans-serif;
    display: flex;
    justify-content: center;
   
    
    margin: 0px 70px;
}
#box-c p{
    
    font-weight: 500;
    font-family: "Work sans", sans-serif;
    font-style: normal;
    line-height: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}
  
/* 3rd section styling end */



/* 4th section start*/
.sec-tex-img{
    background-image: url(images/77451.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #040e22;


}
.sec-d-txt{
    padding: 80px;

display: flex;
align-items: center;

margin: 0px auto;

}
.main-head{
    text-align: center;
    margin: 0px auto;
}
.sec-d-txt h2{
    
   
    font-size: 50px;
    font-weight: 600;
    font-family: "Work sans", sans-serif;
    font-style: normal;
    line-height: 60px;
    
    color: #ffffff;

}
.sec-d-txt p{
    
    font-size: 20px;
    font-weight: 400;
    font-family: "Open sans", sans-serif;
    font-style: normal;
    line-height: 30px;

    color: #ffffff;

}
.btn-fourth button{
    
    margin-top: 33px;
    padding: 12px 30px;
    border: none;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
   
    background-color:#f38723;
    color: white;
    
  
    background: linear-Gradient( to left,rgb(78, 45, 22) 50%,#f38723 50%);
   
    background-size:200% 100%;
    background-position: left bottom right bottom;

    transition: all .5s ease-in-out;
}

.sec-d-txt button:hover{
    background-position: right bottom ;
   

}
/* 4th section end*/
.cli-header {
    display: flex;
    justify-content: center;
 
}

.cli-header h6{
    font-size: 14px;
    font-family: 'work sans', sans-serif;
    font-weight: 600;
    line-height: 24px;
    margin-top: 63px;
    padding: 20px 0px 20px;
    color: #f38723;
}


.loader-line-2 {
    width: 65px;
    height: 6px;
    position: relative;
    overflow: hidden;
    margin: -15px 0px 0px 140px;
    background-color: #ddd8eb;
    border-radius: 20px;
}

.loader-line-2:before {
    content: "";
    position: absolute;
    left: -50%;
    height: 6px;
    width: 40%;
    background-color: #ffffff;
    animation: lineAnim 5s linear infinite;
    border-radius: 20px;
}

@keyframes lineAnim {
    0% {
        left: -40%;
    }
    50% {
        left: 20%;
        width: 20%;
    }
    100% {
        left: 100%;
        width: 20%;
    }
}
.cli-bottom{
    display: flex;
    justify-content: center;

}
.cli-bottom h6{
    font-size: 15px;
    font-family: 'work sans', sans-serif;
    font-weight: 600;
    line-height: 24px;
  
    padding: 20px 0px 20px;
    color: #f38723;

}
.loader-line-3{
    width: 65px;
    height: 6px;
    position: relative;
    overflow: hidden;
    margin: -15px 0px 0px 120px;
    background-color: #ddd8eb;
    border-radius: 20px;

}
.loader-line-3:before {
    content: "";
    position: absolute;
    left: -50%;
    height: 6px;
    width: 40%;
    background-color: #ffffff;
    animation: lineAnim 5s linear infinite;
    border-radius: 20px;
}

@keyframes lineAnim {
    0% {
        left: -40%;
    }
    50% {
        left: 20%;
        width: 20%;
    }
    100% {
        left: 100%;
        width: 20%;
    }
}
.slick-slide img {
     display: inline; 
}


.slider {
    padding: 20px 0px 20px;
    min-height: 270px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;
  }
  .slider__nav {
    width: 12px;
    height: 12px;
    margin: 0px 7px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    appearance: none;
    backface-visibility: hidden;
  }
  .slider__nav:checked {
    
         animation: check 0.4s linear forwards;
  }
  .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
  }
  .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
  }
  .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
  }
  .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
  }
  .slider__nav:checked:nth-of-type(5) ~ .slider__inner {
    left: -400%;
  }
  .slider__nav:checked:nth-of-type(6) ~ .slider__inner {
    left: -500%;
  }
  .slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 600%;
    height: 100%;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: flex;
    flex-flow: row nowrap;
  }
  .slider__contents {
    line-height: 27px;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    padding: 0px;
    
    text-align: center;
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .slider__contents img{
    border-radius: 35px;
  }
  .slider__image {
    font-size: 2.7rem;
        color: #2196F3;
  }
  .slider__txt{
    width: 85%;
  }

  
  .client{
    display: flex;
    margin-top: 20px;
  }
  .carousel-caption{
    font-size: 18px;
    font-family: "Work sans", sans-serif;
    font-weight: 400;
    color: #222222;
    line-height: 30px;
    margin-left: 10px;

  }
  .carousel-caption span{
    color: #2196F3;
  }
  
  @-webkit-keyframes check {
    50% {
      outline-color: #d4840b;
      box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
      outline-color: #333;
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }
  
  @keyframes check {
   
    100% {
      outline-color: #f37b0b;
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }



  .slider2{
  
    background-image: url(images/77451.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #040e22;
    padding: 50px 0px 50px;
  }
  .slick-prev{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;
    margin-left: 5px;

    display: block;

    width: 20px;
    height: 20px;
    
    
    
    

  }
  /* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}


  .slick-carousel { 
   
    margin: 0px 50px;
    padding: 0px 50px;
}
.clients img{
    max-width: 70%;
}


  .slid-content{
    display: flex;
    justify-content: center;
    
  
   
  }
.center-text{
    
    height: 5rem;
    background-color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-top: -43px;
    box-shadow: 0px 2px 10px gray;
}
    
    

.center-text h5{
    font-size: 22px;
    line-height: 29px;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    
}
  /* slider 2 end*/


/* section 5 start*/

.text-box-head{
    display: flex;
    justify-content: center;
    padding: 15px 0px 20px;
    margin-top: 10px;

}
.text-boxex{
    
    
   
    background-image: url(images/grid-bg.png);
    background-size: contain;
    background-position: top left;
    background-repeat: repeat-y;
    
   
   box-shadow: 0px 0px 17px 0px grey;
   border-radius: 5px;
   
}
.text-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    padding: 15px;
    column-gap: 30px;
   
}

.grid-tex-icon{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.grid-tex{
    margin-bottom: 20px;
    padding: 10px;
    
}
.grid-tex-icon h5{
    font-size: 18px;
    font-family: "Work sans", sans-serif;
    line-height: 29px;
    font-weight: 600;
    color: #26abe4;

}
 .grid-tex-icon p{
    font-size: 15px;
    font-family: "Open sans", sans-serif;
    line-height: 23px;
    font-weight: 400;

 } 
 .grid-icons{
    font-size: 25px;
   
    line-height: 25px;
    font-weight: 900;
    color: #26abe4;
    padding: 10px;
 }
 .grid-icons div{
    border: 3px solid #26abe4;
    border-radius: 25px;
    padding: 10px;
 }

/* section 5 end*/

/* section 6 start*/

.signature-sec{
    padding: 50px 20px 50px;
}

.sign-line h6{
    font-size: 14px;
    font-family: 'work sans', sans-serif;
    font-weight: 600;
    line-height: 24px;
    padding: 20px 0px 20px;
    color: #f38723;
}
.loader-line-4{
    width: 65px;
    height: 6px;
    position: relative;
    overflow: hidden;
    margin: -15px 0px 0px 100px;
    background-color: #ddd8eb;
    border-radius: 20px;

}
.loader-line-4:before {
    content: "";
    position: absolute;
    left: -50%;
    height: 6px;
    width: 40%;
    background-color: #ffffff;
    animation: lineAnim 5s linear infinite;
    border-radius: 20px;
}

@keyframes lineAnim {
    0% {
        left: -40%;
    }
    50% {
        left: 20%;
        width: 20%;
    }
    100% {
        left: 100%;
        width: 20%;
    }
}

.sig-para p{
    font-family: "Open sans", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    padding: 10px 0px;
    margin-bottom: 25px;


}
.sign-list ul li{
    list-style: none;
    font-family: "Open sans", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
   
}
.sign-list ul{
    margin-bottom: 20px;
}
.sign-list li i{
    color: #f37b0b;
}
.sig-para-2 p{
    font-family: "Open sans", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    padding: 10px 0px;
    margin-bottom: 20px;

}

/* section 6 end*/


/* section 7 start*/
.news-sec{
    background-image: url(images/77451.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #040e22;
    padding: 50px 0px 160px;
  
}
.grid-over{
    display: flex;
    justify-content: center;
}
.gri-main-txt{
   display: grid;
   grid-template-columns: 1fr 1fr;
    
   
   
    
}
.gri-square{
   
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0px 30px;
}
#squre{
    border-right: 1px dotted gray;
}
.gri-square h4{
    font-size: 24px;
    line-height: 26px;
    font-style: italic;
    color: #2196F3;
    font-family: "Work sans", sans-serif;
    font-weight: 500;
    

}




.grid-slider{
    display: grid;
    margin-top: -130px;
    
    
}


.grid-slides{
   
    padding-bottom: 70px;
    margin: 20px;
    
    transition: transform  -.2s;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px;

}
.grid-slides:hover img{
    transform: scale(1.2);

}
.box-image{
    overflow: hidden;
}
.tren-new-head{
    display: flex;
    justify-content: end;
}
.gri-square span{
    color: #d4840b;

}
.gri-square h5{
    font-size: 30px;
    line-height: 39px;
    font-style: normal;
    color: #fcfeff;
    font-family: "Work sans", sans-serif;
    font-weight: 600;
    text-align: right;

}
.gri-square p{
    font-size: 15px;
    line-height: 30px;
    font-style: normal;
    color: #fcfeff;
    font-family: "Open sans", sans-serif;
    font-weight: 400;
}

.grid-slides img{
    width: -webkit-fill-available;
    
    
}

.grid-img-text h3{
   font-size: 17px;
   font-family: "work sans", sans-serif;
   font-weight: 600; 
   color: #26abe4;
   padding: 10px;

  
}
.grid-img-text{
    padding: 15px 15px 15px;
}
.grid-img-text a{

    text-decoration: none;
    color: #222222;
}
.grid-img-text a:hover{
    color: #2196F3;
}
.grid-img-text span{

    font-size: 12px;
    line-height: 16px;
   font-family: "Open sans", sans-serif;
   font-weight: 600; 
   color: #adadad;
   padding: 10px;
}

.grid-img-text p {
    font-size: 14px;
    line-height: 21px;
   font-family: "Open sans", sans-serif;
   font-weight: 400; 
   color: black;
   padding: 10px;

}

.slick-dots li button:before {
    font-size: 10px;
    color: #0a0909;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: #d4840b;
    
}
.slick-dots li.slick-active button::before {
    opacity: 0.75;
   
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: black;
    border: 0;
    outline: none;
    background: transparent;
}



.slick-dotted.slick-slider {
    margin-bottom: 70px;
}

/* section 7 end*/






/* footer sec  start*/
.footer-main{
    padding: 10px;
}
.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
    

}

.footer-grid-box img{
    max-width: 330px;
}
.grid-inner p{
    font-size: 15px;
    line-height: 30px;
   font-family: "Open sans", sans-serif;
   font-weight: 500; 
   color: #ffffff;
   margin: 20px 0px;
   max-width: 336px;


}
.grid-inner{
    padding: 10px;
}

.grid-inner i{
    padding: 4px;
    margin-top: 15px;
    color: #ffffff;

}
.footer-nav h4{
    font-size: 24px;
    line-height: 34px;
   font-family: "work sans", sans-serif;
   font-weight: 600; 
   color: #ffffff;

}
.footer-nav h4 span{
    color: #f37b0b;
}
.footer-nav-list li{
    list-style: none;
    margin: 5px;
   

}
.footer-nav-list li a{
    text-decoration: none;
    font-size: 15px;
    line-height: 30px;
   font-family: "work sans", sans-serif;
   font-weight: 400;
   color: #ffffff;

}
.footer-nav-list{
    display: grid;
   grid-template-columns: 3fr 3fr;
   padding-top: 20px;
  margin: 20px 0px;
   
}
.message-line h6{
    font-size: 14px;
    line-height: 24px;
   font-family: "work sans", sans-serif;
   font-weight: 600;
   color: #26abe4;
   margin-left: 10px;
}

.loader-line-5{
    width: 65px;
    height: 6px;
    position: relative;
    overflow: hidden;
    margin: -15px 0px 0px 130px;
    background-color: #ffffff;
    border-radius: 20px;

}
.loader-line-5:before {
    content: "";
    position: absolute;
    left: -50%;
    height: 6px;
    width: 40%;
    background-color: #0a0909;
    animation: lineAnim 5s linear infinite;
    border-radius: 20px;
}

@keyframes lineAnim {
    0% {
        left: -40%;
        width: 15%;
    }
    50% {
        left: 20%;
        width: 15%;
    }
    100% {
        left: 100%;
        width: 15%;
    }
}
.grid-form{
    margin-top: 30px;
    
}
.grid-form input{
    font-size: 15px;
    line-height: 21px;
   font-family: "work sans", sans-serif;
   font-weight: 400;
   margin: 5px 0px;
   padding: 8px;
   border-radius: 25px;
   background-color: transparent;
   border: 1px solid gray;
   color: #ffffff;
}
.footer-bg{
    background-image: url(images/77451.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #040e22;
    padding: 50px 0px 100px;

}
 #name{
    width: 42%;

}
 #email{
    width: 42%;

}

#subject{
    width: 90%;

}
#message{
    width: 90%;
  display: flex;
    padding-bottom: 80px;

}
.grid-form button{
    font-size: 15px;
    line-height: 16px ;
    padding: 16px 30px;
   font-weight: 500;
   background-color: #ff9c08;
   color: #ffffff;
   border: none;
   border-radius: 30px;
   margin: 10px 10px;

}
.grid-form button:hover{
    background-color: #26abe4;
}




.copywrite p{
    font-size: 15px;
    line-height: 30px;
   font-family: "open sans", sans-serif;
   font-weight: 500;
   color: #ffffff;
}
.rights{
    display: flex;
    justify-content: center;
    margin-top: -50px;
}
/* footer sec  start*/




/* ABout page  start*/
#heroo{
    background-color: #0a0909;
}

.about-hero{
    background-image:  url(images/pexels-marc-mueller-380769.webp);
    
    opacity: 0.7;
    padding: 120px 0px 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  left center ;
    
    background-attachment: fixed;
    
    
    
}

.na-lists a{
   
    color: #0a0909;
}

.na-lists{
    display: flex;
}

.hero-icon ul li{
    list-style: none;
    color: #ffffff;
    font-size: 15px;
    line-height: 30px;
   font-family: "open sans", sans-serif;
   font-weight: 500;
   padding: 0px 4px;
   
   
}
.hero-icon ul li a{
    text-decoration: none;
    color: #ffffff;
}
.hero-icon ul li a:hover{
    color: #2196F3;
}
.hero-icon ul li i{
    font-size: 20px;
    line-height: 20px;
    font-weight: 900;
}
.hero-icon ul{
    display: flex;
    justify-content: center;
    padding: 4px;
}
.hero-main{
    display: flex;
    justify-content: center;
    text-align: center;
}
.hero-center-text h2{
    font-size: 50px;
    line-height: 55px;
   font-family: "work sans", sans-serif;
   font-weight: 600;
   color: #ffffff;

}


/* ABout second section start*/

.bout-tex-placeholder{
    display: flex;
    padding: 15px 0px;
    
}
.about-text{
    padding: 10px 0px;
}
.about-tex{
    padding: 50px 0px 50px;
}

.placeholder-img img{
    max-width: 100%;
    border-radius: 140px;
    margin: 10px;
}
.placeholder-img{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0px 15px;
}
.placeholder-cen{
    
}
.about-text h2{
    font-size: 50px;
    line-height: 55px;
   font-family: "work sans", sans-serif;
   font-weight: 600;
   padding: 10px 0px;
}
.about-text p{
    font-size: 15px;
    line-height: 30px;
   font-family: "Open sans", sans-serif;
   font-weight: 400;
   padding: 10px 0px;
   width: 90%;
   
}

/* ABout second section end*/

/* ABout third section start*/
.grid-te{
    margin-bottom: 20px;
    
    padding: 0px 25px;
}
.about-grid{
          display: grid;
          grid-template-columns: 2fr 2fr;
          grid-column-gap: 30px ;
          grid-row-gap: 30px;
}
.grid-about-icon {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.about-grid-icons div {
    border: 3px solid #26abe4;
    border-radius: 32px;
    padding: 15px;
}


.about-grid-icons{
    font-size: 25px;
   
    line-height: 25px;
    font-weight: 900;
    color: #26abe4;
    padding: 10px;
 }
 .grid-about-icon p {
    font-size: 15px;
    font-family: "Open sans", sans-serif;
    line-height: 23px;
    font-weight: 400;
}
.grid-about-icon h5 {
    font-size: 18px;
    font-family: "Work sans", sans-serif;
    line-height: 29px;
    font-weight: 600;
    color: #26abe4;
}
#gri-reliabilty{
    margin-bottom: 20px;
}
/* ABout third section end*/

.slider__cont{
    line-height: 30px;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    padding: 0px;
    margin: -13px;
    text-align: center;
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;


  }
  .client-about{
    

  }

  .slider__t {
    color: #999;
    margin-bottom: 3rem;
    max-width: 100%;
    margin-top: 4rem;
  }

.slick-clients{
    
}
.slick-next::before, .slick-prev::before {
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    opacity: 0.75;
    color: ;
    -webkit-font-smoothing: antialiased;}

    /* Icons */

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: white;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}


.slick-prev
{
    left: -25px;
    
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
    
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}
  
  .slick-next
  {
      font-size: 0;
      line-height: 0;
  
      position: absolute;
      top: 50%;
     
  
      display: block;
  
      width: 20px;
      height: 20px;
     
      
      
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  
      cursor: pointer;
  
      color: #ffffff;
      border: none;
      outline: none;
      background: transparent;
  }

/* ABout page  end*/































































































































































































/*media query of section 1*/

@media screen and (max-width:1145px) {

    .btn-nav{
        padding: 10px 23px;
        margin-right: 30px;
    
    }
    .btn-nav span{
    
        font-family: "work sans", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: aliceblue;
    
    
}
.heading p{
    font-family: "open sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
   line-height: 30px;
    padding: 3px 0px;
  
   color: aliceblue;

}
.sect-a{
    background-image: url(images/bg.png);
   
    margin-top: -90px ;
    padding: 110px 0px 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-color: #F8FCFF;
    
}

    
}


@media screen and (max-width:1090px) {

    .navbar-a img{
        max-width: 250px;  


}
.center img{
   
    max-height: 320px;
    
  }
}
@media screen and (max-width:1050px) {
    .center img{
       
        height: 240px;
    }

}

@media screen and (max-width:1030px) {

    .navbar-a img{
        max-width: 200px;  

}


.heading h1{
    font-family: "Work Sans", sans-serif;
    font-size: 66px;
    font-weight: 700;
    line-height: 60px;
    color: aliceblue;
    padding: 12px 0px;

}
.heading p{
    font-family: "open sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
   line-height: 30px;
    padding: 3px 0px;
  
   color: aliceblue;

}


.image-tech{
    padding: 5px;
   height: 300px;
  }
  


}

@media screen and (max-width:992px) {
    .navbar-a a{
      
        font-family: "Work Sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

    }
      .navbar-a{
        padding: 19px 9px;
        width: auto;
      }
    .navbar-a ul{
          margin-right: 50px;
          
    }
    .btn-nav{
        display: none;
    }

    .navbar-a img{
        max-width: 280px; 
       
    }

    .heading h1{
        font-family: "Work Sans", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        color: aliceblue;
        padding: 10px 0px;
    
    }
    .heading p{
        font-family: "open sans", sans-serif;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
       line-height: 25px;
        padding: 3px 0px;
       
      
       color: aliceblue;
    
    }
    
    .set-a{
        padding: 90px 0px 100px;
    }
    #box-a span{
        font-size: 46px;
        line-height: 60px;

    }
    #box-b span{
        font-size: 46px;
        line-height: 60px;
        
    }

    #box-c span{
        font-size: 46px;
        line-height: 60px;
        
    }
    .footer-grid{
        display: grid;
        grid-template-columns: 1fr 1fr ;
       
        
    
    }

    .grid-over{
        display: flex;
        justify-content: center;
    }
    .gri-main-txt{
       display: grid;
       grid-template-columns: 1fr ;
        
       
       
        
    }
    .gri-square{
       
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 0px 30px;
    }
    #squre{
        border: none;
    }
    .gri-square h5 {
       
        text-align: start;
    }
    .tren-new-head {
        display: flex;
        justify-content: start;
    }

    #name{
        width: 41%;

    }
#email{
    width: 41%;
}

#subject{
    width: 90%;
}
.text-box{
    display: flex;
    
    
    padding: 15px;
    column-gap: 30px;
   
}
.text-boxex {
    background-position: top center;
    background-repeat: repeat-x;
    background-size: auto;
}


.grid-tex-icon{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    
    justify-content: center;
    padding: 15px;
}

.grid-icons {
    display: flex;
    justify-content: center;
    text-align: center;
}
.icon-circle div{
    border: 3px solid #26abe4;
    border-radius: 25px;
    padding: 10px;
}
.grid-tex-icon p {
   padding-top: 10px;
    text-align: justify;


}

.about-grid-icons{
    display: flex;
    justify-content: center;
    text-align: center;

}
.grid-tex p{
    padding-top: 10px;
    text-align: justify;
}

.grid-about-icon{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    
    justify-content: center;
    padding: 15px;
}


}


@media screen and (max-width:930px) {

    .heading h1{
        font-family: "Work Sans", sans-serif;
        font-size: 46px;
        font-weight: 700;
        line-height: 50px;
        color: aliceblue;
        padding: 10px 0px;
    
    }
    .heading p{
        font-family: "open sans", sans-serif;
        font-size: 15px;
        font-weight: 400;
        font-style: normal;
       line-height: 25px;
        padding: 3px 0px;
        max-width: 400px;
      
       color: aliceblue;
    
    }


    .navbar-a img{
        max-width: 260px; 
       
    }
    #name{
        width: 41%;

    }
#email{
    width: 41%;
}

#subject{
    width: 90%;
}

}

@media screen and (max-width:850px) {

    .navbar-a img{
        max-width: 235px; 
       
    }
    .navbar-a ul{
        margin-right: 10px;
    }

    .navbar-a a{

        margin: 0px 9.5px;
    }

    .heading p{
        font-family: "open sans", sans-serif;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
       line-height: 25px;
        padding: 3px 0px;
        
    }
    #name{
        padding: 8px  22px;

    }

#name{
    width: 82%;

}
#email{
width: 90%;
}

#subject{
width: 90%;
}


}

@media screen and (max-width:768px) {

    .slider {
        padding: 20px 0px 20px;
        height: 20rem;}

    .fir-sec img{
        max-width: 70%; 
        margin-top: 7px;
       
    }
    .navbar-a ul{

        display: none;
    }
  .center{

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heading p{
    font-family: "open sans", sans-serif;
    font-size: 18px;
    text-align: -webkit-center;
    font-weight: 400;
    font-style: normal;
   line-height: 25px;
    padding: 3px 0px;
    max-width: 700px;
   
}

.heading h1{
    font-family: "Work Sans", sans-serif;
    font-size: 40px;
    font-weight: 700;
   text-align: center;
    line-height: 50px;
    color: aliceblue;
    padding: 10px 0px;

}
.bottom-button {
    display: flex;
    justify-content: center;
}

.btn-sec-a {

    font-size: 14px;
}
.btn-sec-b {

    font-size: 14px;
}

.sect-a{
 
   
    margin-top: -122px ;
}
   
#menu{
    
    height: 37px;
    width: 40px;
    border-radius: 6px;
    padding: 5px 5px;
    margin: 28px 0px 20px 20px;
    cursor: pointer;
    z-index: 98;
    background-color: #f38723;
    top: 5px;
    right: 20px;
    position: absolute;
    
   }
   .line{
    height: 4px;
    width: 33px;
    margin: 5px auto;
    background-color: #F8FCFF;
    display: block;
    border-radius: 5px;
    transition: -0.5s ease;

   
    
   }

   

   .icon #line1{
    transform: translateY(11px) rotate(-45deg);
   }
   .icon #line3{
    transform: translateY(-7px) rotate(45deg);
   }

   .icon #line2{
               opacity: 0;
   }
   .change{
    background-color: #26abe4;
    
    position: absolute;
    width: 100%;
    box-sizing: border-box;
     top: 90px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    
   }
   .ican-box{
    display: grid;
    grid-template-columns: 1fr ;
    padding: 50px 0px;
   
}
#box-a{
    border-bottom: 1px dotted black;
}
#box-c{
border-top: 1px dotted black;

}
#box-a{
    border-right: none;
}
#box-c{
border-left: none;

}
.sec-c{
       
   flex-direction: column;
    
    justify-content: center;
    padding: 10px ;

}
.vid-sec {
    margin-top: 40px;
    display: flex;
    width: auto;
   
    justify-content: center;
}



.sec-d-txt h2{
    font-size: 36px;
    line-height: 40px;
}
.sec-d-txt p{
    font-size: 18px;
    line-height: 25px;
}
.section-c-wri{
    padding-left: 15px;
   
}

.sec-c p {
   
    max-width: 100%;
}


.loader-line {
 
    margin: -13px 0px 0px 70px;


}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
}

.grid-tex-icon{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    
    justify-content: center;
    padding: 15px;
}

.grid-icons {
    display: flex;
    justify-content: center;
    text-align: center;
}
.icon-circle div{
    border: 3px solid #26abe4;
    border-radius: 25px;
    padding: 10px;
}
.grid-tex-icon p {
   padding-top: 10px;
    text-align: justify;


}

.footer-grid{
    display: grid;
    grid-template-columns: 1fr  ;
   
    

}
.grid-inner img{
    max-width: 100%;
}
#name{
    width: 88%;

}
#email{
width: 92%;
}

#subject{
width: 92%;
}
#message{
    width: 94%;
}
.about-grid{
    display: grid;
    grid-template-columns: 4fr ;
 
}

.slick-carousel {
    margin: 0px 40px;
    padding: 0px 20px;
}

.btn-fourth button {
    
    width: 100%;

}

@media screen and (max-width:378px) {
    .slider {
        padding: 20px 0px 20px;
        height: 25rem;}

    .fir-sec img{
      
        margin-top: 16px;
       
    }

    .center img {
        height: 200px;}


        .btn-sec-a{
           font-size: 14px;
            padding: 4px 15px;
            margin-top: 63px;

        }

        .btn-sec-b{
            font-size: 14px;
            padding: 7px 15px;
        }
        .sec-d-txt h2{
            font-size: 24px;
            line-height: 30px;
        }
        .sec-d-txt p{
            font-size: 14px;
            line-height: 25px;
        }
        .btn-fourth button {
            margin-top: 33px;
            padding: 8px 4px;

}
.slider__contents {
   font-size: 14px;
   
    padding: 20px;
    }

    #name{
        width: 82%;
    
    }
  
    .clients img{
        max-width: 122%;
    }
    .copywrite p {
        font-size: 14px;}

    

    .grid-slider {
        display: grid;
        margin-top: -80px;
    }
}

/**/















/**/
/**/

























/**/
/**/






















